

@media screen and (min-width:"376px"){
    section{
        max-width: 30em;
    }
}

@media screen and (min-width:"600px"){
    :root[data-theme="theme-dark"]{
        --bg-img: url("../images/bg-desktop-dark.jpg");
    }
    :root[data-theme="theme-light"]{
        --bg-img: url("../images/bg-desktop-light.jpg");
    }
    section{
        margin: auto;
        margin-top: 2.9%;
        h1{
            font-size: 2.2em;
        }
    }
    .container{
        .item{
            padding: .8em .8888em;
            label:hover{
                cursor: pointer;
            }
            &:hover button{
                opacity: 1;
            }
            button{
                opacity: 0;
            }
        }
    }
    .create-container{
        padding: 1em;
        margin-top: .5em;
        margin-bottom: 1.2em;
    }
    .statistics{
        span{
            font-weight: 300;
            font-size: .8em;
        }
        .clear-button{
            font-weight: 300;
            font-size: .8em;
        }
        .clear-button:hover{
            color: var(--text-color-highlighted);
            }
        .selector button{
            font-size: .85em;
        }
    }
    .selector{
        button:hover{
        //color: var(--text-color);
        color: var(--text-color-highlighted);
        }
        &.hide-desktop{
            display: none;
        }
        &.hide-mobile{
            display: flex;
            //outline: 1px solid greenyellow;
            margin: 0;
            padding: 0;
            button{
                margin: 0;
            }
        }
    }
    button, p,label, input{
        font-size: 1em;
        font-weight: 300;
    }
    .footer{
        margin-top: 4em;
    }
}