
.selector{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-container);
    margin-top: .8em;
    border-radius: .2em;
    button{
        margin: 1em 0;
        border: none;
        background-color: var(--bg-container);
        font-weight: 700;
        color: var(--text-color-passive);
    }
    &.hide-mobile{
        display: none;
    }
}