
.statistics{

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 1.4em;
    border-bottom-right-radius: .2em;
    border-bottom-left-radius: .2em;
    background-color: var(--bg-container);
    color: var(--text-color-passive);

    span{
        //font-size: .6em;
    }

    .clear-button{
        //margin: 1em 0;
        //font-size: .85em;
        border: none;
        background-color: var(--bg-container);
        color: var(--text-color-passive);
        font-weight: 700;
        //font-size: .7em;
    }

    > .selector .hide-mobile{
    }
}